{% extends "layout/base.html" %}

{% block content %}    
    <!-- Add Recipe section -->
    <section class="create-recipes-section">
        <div class="container create-recipes-container">
            <div class="recipes-section-row-title">
                <div class="col">
                    <hr class="section-hr-left">
                </div>
                <div class="col-auto">
                    <h2 class="section-title">{{ page_set.title }}</h2>
                </div>
                <div class="col">
                    <hr class="section-hr-right">
                </div>
            </div>
            <div class="recipes-section-row-recipes">
                {% if page_set.route == 'edit_recipe' %}
                    <form class="form-recipe" id='add-recipe' action="{{ url_for(page_set.route, recipe_id=recipe._id) }}" method="POST" autocomplete="off">
                {% else %}
                    <form class="form-recipe" id='add-recipe' action="{{ url_for(page_set.route) }}" method="POST" autocomplete="off">
                {% endif %}
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <select class="custom-select" id="recipe-category" name="recipe-category" required>
                                    {% if not recipe %}
                                        <option selected disabled hidden value="">&nbsp;</option>
                                    {% endif %}

                                    {% for category_recipe in categories_recipes %}
                                        {% if recipe and recipe.category_name == category_recipe.category_name %}
                                            <option selected value="{{- category_recipe.category_name -}}">{{- category_recipe.category_name|title -}}</option>
                                        {% else %}
                                            <option value="{{- category_recipe.category_name -}}">{{- category_recipe.category_name|title -}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="recipe-category"><span>Recipe Category</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="recipe-title" name="recipe-title" value="{%- if recipe %} {{- recipe.recipe_name -}} {% endif -%}" required>
                                <label for="recipe-title"><span>Recipe Title</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <textarea class="form-control" id="recipe-description" name="recipe-description" rows="1" maxlength="150" required>
                                {%- if recipe %}{{- recipe.description -}}{% endif -%}
                                </textarea>
                                <label for="recipe-description"><span>Recipe Description</span></label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group steps-mb">
                                <ul class="ingredients-list">
                                    {% if recipe %}
                                        {% for ingredient in recipe.ingredients %}
                                            {% if loop.index == 1 %}
                                                <li class="ingredient">
                                                    <input type="text" class="form-control" id="recipe-ingredient" name="recipe-ingredient" value="{{- ingredient -}}" required>
                                                    <label for="recipe-ingredient"><span>Recipe Ingredients</span></label>
                                                    <div class="ingredients-btn-container">
                                                        <div class="input-group-btn">
                                                            <span class="input-group-add-ingredients">
                                                                <a class="btn-group-ingredients btn-add-ingredients" role="button" data-toggle="tooltip" data-placement="top" title="Add item"><i class="fas fa-plus-circle"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="ingredient">
                                                    <input type="text" class="form-control js-recipe-ingredient" name="recipe-ingredient-{{- loop.index -}}" value="{{- ingredient -}}" data-msg-required="Please fill out ingredient field" required>
                                                    <div class="ingredients-btn-container">
                                                        <div class="input-group-btn">
                                                            <span class="input-group-remove-ingredients">
                                                                <a class="btn-group-ingredients btn-remove-ingredients" role="button" data-toggle="tooltip" data-placement="top" title="Remove item"><i class="fas fa-minus-circle"></i></a>
                                                            </span>
                                                            <span class="input-group-add-ingredients">
                                                                <a class="btn-group-ingredients btn-add-ingredients" role="button" data-toggle="tooltip" data-placement="top" title="Add item"><i class="fas fa-plus-circle"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <li class="ingredient">
                                            <input type="text" class="form-control" id="recipe-ingredient" name="recipe-ingredient" value="" required>
                                            <label for="recipe-ingredient"><span>Recipe Ingredients</span></label>
                                            <div class="ingredients-btn-container">
                                                <div class="input-group-btn">
                                                    <span class="input-group-add-ingredients">
                                                        <a class="btn-group-ingredients btn-add-ingredients" role="button" data-toggle="tooltip" data-placement="top" title="Add item"><i class="fas fa-plus-circle"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                                <span class="max-fields"><small><em>Maximum fields for steps is <span class="max-ingredients-number"></span></em></small></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group steps-mb">
                                <ul class="methods-list">
                                    {% if recipe %}
                                        {% for method in recipe.methods %}
                                            {% if loop.index == 1 %}
                                                <li class="methods">
                                                    <textarea class="form-control" id="recipe-methods" name="recipe-methods" rows="1" maxlength="320" required>
                                                        {{- method -}}
                                                    </textarea>
                                                    <label for="recipe-methods"><span>Recipe Methods</span></label>
                                                    <div class="steps-btn-container">
                                                        <div class="input-group-btn">
                                                            <span class="input-group-add-steps">
                                                                <a class="btn-group-steps btn-add-steps" role="button" data-toggle="tooltip" data-placement="top" title="Add step"><i class="fas fa-plus-circle"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="methods">
                                                    <textarea class="form-control js-recipe-methods" name="recipe-methods-{{- loop.index -}}" rows="1" maxlength="320" data-msg-required="Please fill out step field" required>
                                                        {{- method -}}
                                                    </textarea>
                                                    <div class="steps-btn-container">
                                                        <div class="input-group-btn">
                                                            <span class="input-group-remove-steps">
                                                                <a class="btn-group-steps btn-remove-steps" role="button" data-toggle="tooltip" data-placement="top" title="Remove step"><i class="fas fa-minus-circle"></i></a>
                                                            </span>
                                                            <span class="input-group-add-steps">
                                                                <a class="btn-group-steps btn-add-steps" role="button" data-toggle="tooltip" data-placement="top" title="Add step"><i class="fas fa-plus-circle"></i></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <li class="methods">
                                            <textarea class="form-control" id="recipe-methods" name="recipe-methods" rows="1" maxlength="320" required></textarea>
                                            <label for="recipe-methods"><span>Recipe Methods</span></label>
                                            <div class="steps-btn-container">
                                                <div class="input-group-btn">
                                                    <span class="input-group-add-steps">
                                                        <a class="btn-group-steps btn-add-steps" role="button" data-toggle="tooltip" data-placement="top" title="Add step"><i class="fas fa-plus-circle"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                                <span class="max-fields"><small><em>Maximum fields for steps is <span class="max-steps-number"></span></em></small></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="recipe-image-url" name="recipe-image-url" value="{%- if recipe %} {{- recipe.image_url -}} {% endif -%}" required>
                                <label for="recipe-image-url"><span class="span-label">Recipe Image URL</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <input type="number" class="form-control" id="recipe-cook-time" name="recipe-cook-time" value="{%- if recipe %}{{- recipe.time -}}{% endif -%}" min="1" max="1440" required>
                                <label for="recipe-cook-time"><span>Cook Time in Minutes</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <input type="number" class="form-control" id="recipe-serve" name="recipe-serve" value="{%- if recipe %}{{- recipe.serve -}}{% endif -%}" min="1" max="24" required>
                                <label for="recipe-serve"><span>Serve</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="recipe-tips" name="recipe-tips" value="{%- if recipe %}{{- recipe.tips -}}{% endif -%}" required>
                                <label for="recipe-tips"><span>Recipe Tips</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row form-row-recipe">
                        {% if recipe %}
                            <div class="form-row-recipe-buttons">
                                <button class="btn btn--spanish-pink my-2 my-sm-0" type="button" data-toggle="modal" data-target="#deleteModal" data-item="recipe" data-id="{{- recipe._id -}}">Delete</button>
                            </div>
                        {% endif %}
                        <div class="form-row-recipe-buttons">
                            <button class="btn btn--champagne-pink my-2 my-sm-0" id="btn-submit-add-recipe" type="submit">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- /.Add Recipe section -->
{% endblock %}