{% extends "layout/base.html" %}
{% from "pages/macros.html" import display_recipes, subscribe_section %}

{% block content %}
    <!-- Landing section -->
    <section>
        {% for recipe in sugestion_recipe %}
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="sugestion-recipe-link">
                <figure class="catogory-banner-section">
                    <img src="{{ recipe.image_url }}" class="recipes-img-baner" alt="Recipe Image">
                    <div class="category-textbox">
                        <h1 class='section-title'>Our</h1>
                        <h1 class='section-title'>Suggestion</h1>
                    </div>
                </figure>
            </a>
        {% endfor %}
    </section>
    <!-- /.Landing section -->

    <!-- Recipes section -->
    <section class="recipes-section">
        <div class="container">
            <div class="recipes-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2 class="section-title">Recipes</h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>

            {% if session %}
            <div class="flex-container search-container">
                <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('search') }}">
                    <input class="form-control mr-sm-2 form-search" type="text" name="query" placeholder="Search Recipe" aria-label="Search Recipe" required>
                    <button class="btn btn--champagne-pink my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            {% endif %}

            <div class="recipes-section-row-recipes">
                {% for recipe in recipes %}
                    {{ display_recipes(recipe) }}
                {% endfor %}
            </div>
            
        </div>

    </section>
    <!-- /.Recipe section -->

    <!-- Subscribe section -->
        {{ subscribe_section() }}
    <!-- /.End Subscribe section -->
{% endblock %}