{% extends "layout/base.html" %}
{% from "pages/macros.html" import display_recipes, display_form_search_recipe, subscribe_section %}

{% block content %}
    <!-- Landing section -->
    <section class="category-banner-section bg-banner-default bg-{{category}}-section">
        <div class="category-textbox">
            <h1 class='section-title'>{{category|title}}</h1>
            <h1 class='section-title'>Recipes</h1>
        </div>
    </section>
    <!-- /.Landing section -->

    <!-- Recipes section -->
    <section class="recipes-section">
        <div class="container">
            <div class="recipes-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2 class="section-title">{{category|capitalize}}</h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>

            <div class="flex-container search-container">
                <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('category_search', category=category) }}">
                    <input class="form-control mr-sm-2 form-search" type="text" name="query" placeholder="Search Recipe in this category" aria-label="Search Recipe" required>
                    <button class="btn btn--champagne-pink my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <div class="recipes-section-row-recipes">
                {% if recipes %}
                        {% for recipe in recipes %}
                            {{ display_recipes(recipe) }}
                        {% endfor %}
            </div>
                    {% if total > 1 %}
                        {{ pagination.info }}
                    {% endif %}   
                    {{ pagination.links }}
                {% else %}
                    <p>No Results Found</p>
                {% endif %}
        </div>

    </section>
    <!-- /.Recipe section -->

    <!-- Subscribe section -->
        {{ subscribe_section() }}
    <!-- /.End Subscribe section -->
{% endblock %}