{% extends "layout/base.html" %}
{% from "pages/macros.html" import display_recipes %}

{% block content %}
    <!-- Landing section -->
    <section class="landing bg-landing-section">
        <div class="landing-textbox">
            <h1 class='landing-title'>Now you're cooking with savour</h1>
        </div>
    </section>
    <!-- /.Landing section -->

    <!-- Recipes section -->
    <section class="recipes-section">
        <div class="container">
            <div class="recipes-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2><a href="#" class="section-title">Recipes</a></h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>
            <div class="recipes-section-row-recipes">
                {% for recipe in recipes %}
                    {{ display_recipes(recipe) }}
                {% endfor %}
            </div>
            
            <div class="recipes-section-item-row-more-recipes">
                <a href="#" class="recipe-ancor-tag">
                    MORE RECIPES&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>

    </section>
    <!-- /.Recipe section -->

    <!-- Shop section -->
    <section class="shop-section">
        <div class="container">
            <div class="shop-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2><a href="#" class="section-title">Shop</a></h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>
            <div class="shop-section-row-products">
                <a href="#" class="shop-ancor-tag">
                    <div class="card">
                        <img class="savour-section-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
                        <img src="https://images.pexels.com/photos/3827668/pexels-photo-3827668.jpeg" class="shop-card-img" alt="Product Image">
                        <div class="card-body">
                            <p class="shop-card-title js-card-title">Modern Professional Knives For Cooking</p>
                            <span class=""><i class="fas fa-euro-sign" aria-hidden="true"></i> 139.99</span>
                        </div>
                    </div>
                </a>

                <a href="#" class="shop-ancor-tag">
                    <div class="card">
                        <img class="savour-section-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
                        <img src="https://images.pexels.com/photos/1450903/pexels-photo-1450903.jpeg" class="shop-card-img" alt="Product Image">
                        <div class="card-body">
                            <p class="shop-card-title js-card-title">Kitchenaid Stand Mixer</p>
                            <span class=""><i class="fas fa-euro-sign" aria-hidden="true"></i> 69.99</span>
                        </div>
                    </div>
                </a>
            
                <a href="#" class="shop-ancor-tag">
                    <div class="card">
                        <img class="savour-section-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
                        <img src="https://cdn.pixabay.com/photo/2020/06/29/11/18/render-5352379_1280.jpg" class="shop-card-img" alt="Product Image">
                        <div class="card-body">
                            <p class="shop-card-title js-card-title">3 Piece Cookware Set</p>
                            <span class=""><i class="fas fa-euro-sign" aria-hidden="true"></i> 49.99</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="shop-section-item-row-more-products">
                <a href="#" class="shop-ancor-tag">
                    MORE PRODUCTS&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>

    </section>
    <!-- /.End Shop section -->

    <!-- Subscribe section -->
    <section>
        <div class="flex-container subscribe">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Your Email" aria-label="Subscribe">
                <button class="btn btn--champagne-pink my-2 my-sm-0" type="submit">Subscribe Now</button>
            </form>
        </div>
    </section>
{% endblock %}