{% extends "layout/base.html" %}
{% from "pages/macros.html" import display_recipes, display_products, subscribe_section %}

{% block content %}
    <!-- Landing section -->
    <section class="landing bg-landing-section">
        <div class="landing-textbox">
            <h1 class='landing-title'>Now you're cooking with savour</h1>
        </div>
    </section>
    <!-- /.Landing section -->

    <!-- Recipes section -->
    <section class="recipes-section">
        <div class="container">
            <div class="recipes-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2><a href="{{ url_for('all_recipes') }}" aria-label="Recipes Page" class="section-title">Recipes</a></h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>
            <div class="recipes-section-row-recipes">
                {% for recipe in recipes %}
                    {{ display_recipes(recipe) }}
                {% endfor %}
            </div>
            
            <div class="recipes-section-item-row-more-recipes">
                <a href="{{ url_for('all_recipes') }}" aria-label="Recipes Page" class="recipe-ancor-tag">
                    MORE RECIPES&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>

    </section>
    <!-- /.Recipe section -->

    <!-- Shop section -->
    <section class="shop-section">
        <div class="container">
            <div class="shop-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2><a href="{{ url_for('shop') }}"  aria-label="Shop Page" class="section-title">Shop</a></h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>
            <div class="shop-section-row-products">
                {% for product in products %}
                    {{ display_products(product) }}
                {% endfor %}
            </div>
            <div class="shop-section-item-row-more-products">
                <a href="{{ url_for('shop') }}" aria-label="Shop Page" class="shop-ancor-tag">
                    MORE PRODUCTS&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>

    </section>
    <!-- /.End Shop section -->

    <!-- Subscribe section -->
        {{ subscribe_section() }}
    <!-- /.End Subscribe section -->
{% endblock %}