{% extends "layout/base.html" %}

{% block content %}
    <!-- Landing section -->
    <section class="landing bg-landing-section">
        <div class="landing-textbox">
            <h1 class='landing-title'>Now you're cooking with savour</h1>
        </div>
    </section>
    <!-- /.Landing section -->

    <!-- Recipes section -->
    <section class="recipes-section">
        <div class="container">
            <div class="recipes-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2><a href="#" class="section-title">Recipes</a></h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>
            <div class="recipes-section-row-recipes">
                {% for recipe in recipes %}
                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="recipe-ancor-tag">
                        <div class="card">
                            <img class="recipe-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
                            <img src="{{ recipe.recipeImageURL }}" class="recipe-card-img" alt="Recipe Image">
                            <div class="card-body">
                                <p class="card-text card-recipe-title">{{ recipe.recipeName }}</p>
                                <span class=""><i class="far fa-clock"></i> {{ recipe.time }} Min</span>
                                <hr>
                                {% if recipe.ratings.ratingStatus == false %}
                                    {% for star in range(0, 5) %}
                                        <span class="rated-star"><i class="far fa-star" aria-hidden="true"></i></span>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </a>
                {% endfor %}
                
                
            </div>
            <div class="recipes-section-item-row-more-recipes">
                <a href="#" class="recipe-ancor-tag">
                    MORE RECIPES&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>

    </section>
    <!-- /.Recipe section -->
{% endblock %}