{% extends "layout/base.html" %}

{% block content %}    
    
    <section class="login-section">
        <div class="container login-container">

            <div class="login-section-row-title">
                <div class="col">
                    <hr class="section-hr-left">
                </div>
                <div class="col-auto">
                    <h2 class="section-title">Login</h2>
                </div>
                <div class="col">
                    <hr class="section-hr-right">
                </div>
            </div>

            <div class="login-section-row-form">
                <form class="form-login" id='login-register' action="{{ url_for('login') }}" method="POST" autocomplete="off">
                   
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" required>
                                <label for="email"><span>Email</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" required>
                                <label for="password"><span>Password</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 col-sm-12 text-center mt-5">
                            <button class="btn btn--champagne-pink my-2 my-sm-0" id="btn-submit-form" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="login-section-row-info">
                <span class="text-center">Are you new to Savour?</span>&nbsp;<a href="{{ url_for('register') }}" class="login-ancor-tag">Register Here</a>
            </div>

        </div>
    </section>

{% endblock %}