{# Display the recipe star rating #}
{# https://jinja.palletsprojects.com/en/3.0.x/templates/#import #}

{# Check which class has to be apply for each star #}
{%- macro check_i_class(rated) -%}
    {% if (rated >= 1) %}
        fas fa-star
    {% elif (rated > 0) and (rated < 1) %}
        fas fa-star-half-alt
    {% else %}
        far fa-star
    {% endif %}
{%- endmacro -%}

{# Display the star rating for each recipe #}
{%- macro display_star_ratings(recipe) -%}
    {% if recipe.ratings.status == false %}
        {% for star in range(0, 5) %}
            <span class="rated-star"><i class="far fa-star" aria-hidden="true"></i></span>
        {% endfor %}

    {% else %}
        {% for rated in [recipe.ratings.weighted_average, recipe.ratings.weighted_average - 1, recipe.ratings.weighted_average - 2, recipe.ratings.weighted_average - 3, recipe.ratings.weighted_average - 4 ] %}
            <span class="rated-star"><i class="{{- check_i_class(rated) -}}" aria-hidden="true"></i></span>
        {% endfor %}
    {% endif %}
{%- endmacro -%}

{# Display the recipes #}
{%- macro display_recipes(recipe) -%}
<a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="recipe-ancor-tag">
    <div class="card">
        <img class="savour-section-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
        <img src="{{ recipe.image_url }}" class="recipe-card-img" alt="Recipe Image">
        <div class="card-body">
            <p class="recipe-card-title js-card-title">{{ recipe.recipe_name|title }}</p>
            <span class=""><i class="far fa-clock"></i> {{ recipe.time }} Min</span>
            <hr>
            {{ display_star_ratings(recipe) }}
        </div>
    </div>
</a>
{%- endmacro -%}

{# Display the products #}
{%- macro display_products(product) -%}
    <a href="#" class="shop-ancor-tag">
        <div class="card">
            <img class="savour-section-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
            <img src="{{- product.image_url -}}" class="shop-card-img" alt="Product Image">
            <div class="card-body">
                <p class="shop-card-title js-card-title">{{- product.product_title -}}</p>
                <span class=""><i class="fas fa-euro-sign" aria-hidden="true"></i> {{- product.price -}}</span>
            </div>
        </div>
    </a>
{%- endmacro -%}

{# Display Subscribe section #}
{%- macro subscribe_section() -%}
    <section>
        <div class="flex-container subscribe">
            <div class="subscribe-row-title">
                <h2 class="section-title">SIGN UP TO OUR NEWSLETTER</h2>
            </div>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Your Email" aria-label="Subscribe">
                <button class="btn btn--champagne-pink my-2 my-sm-0" type="submit">Subscribe Now</button>
            </form>
        </div>
    </section>
{%- endmacro -%}