{% extends "layout/base.html" %}

{% block content %}
    <!-- Landing section -->
    <section class="manage-category-section">
        <div class="manage-category-section-row-info">
            <h1 class='section-title manage-category-title'>Manage Categories</h1>
        </div>
        <hr class="hr-manage-category">
        <div class="container">
            <div class="profile-section-row-links">
                <div class="manage-profile-section-row-links-item">
                    <button class="btn btn--champagne-pink my-2 my-sm-0" type="button" data-toggle="modal" data-target="#editModal" data-item="" data-id="" data-type="Add">Add Category</button>
                </div>           
            </div>
        </div>
    </section>
    <!-- /.Landing section -->

    <!-- Recipes section -->
    <section class="recipes-section">
        <div class="container">
            <div class="recipes-section-row-recipes">
                {% for category in manage_categories %}
                    <div class="card category-card">
                        <div class="card-body">
                            <p class="category-card-title">{{ category.category_name|title }}</p>
                            <hr>
                            <div class="card-body-footer">
                                <div>
                                    <button class="btn btn--spanish-pink my-2 my-sm-0" type="button" data-toggle="modal" data-target="#deleteModal" data-item="category" data-id="{{- category._id -}}">Delete</button>
                                </div>
                                <div>
                                    <button class="btn btn--champagne-pink my-2 my-sm-0" type="button" data-toggle="modal" data-target="#editModal" data-item="{{- category.category_name -}}" data-id="{{- category._id -}}" data-type="Edit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.Recipe section -->
{% endblock %}