{% extends "layout/base.html" %}

{% block content %}
    <!-- Permission section -->
    <section class="error-section">
        <div class="landing error-container {% if code == '404' %} bg-404-not-found {% endif %}">
            {% if code == "401" or code == "403" %}
            <div class="error-img error-img-1"></div>
            <div class="error-img error-img-2"></div>
            <div class="error-img error-img-3"></div>
            {% endif %}
            <div class="container">
                {% if code == "401" %}
                    <div class="error-content">
                        <h1>Oops!</h1>
                        <h2>401 Authorization required</h2>
                        <p>Access is allowed only for registered users.</p>
                        <a href="{{ url_for('register') }}" class="btn btn--champagne-pink">Create Account</a>
                    </div>
                {% elif code == "403" %}
                    <div class="error-content">
                        <h1>Oops!</h1>
                        <h2>403 Access Denied / Forbidden</h2>
                        <p>You don't have permission to access this page.</p>
                        <a href="{{ url_for('home') }}" class="btn btn--champagne-pink">Go to Homepage</a>
                    </div>
                {% elif code == "404" %}
                    <div class="error-content">
                        <h1>Oh no!</h1>
                        <h2>404 Not Found</h2>
                        <p>There's not much left here for you.</p>
                        <a href="{{ url_for('home') }}" class="btn btn--champagne-pink">Go to Homepage</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}