{% extends "layout/base.html" %}
{% from "pages/macros.html" import display_star_ratings %}

{% block content %}
    <section class="recipe-description-section">
        <div class="recipe-container">
            <div class="recipe-row-info">
                <div class="recipe-row-info-item">
                    <span class="text-center">Category <i class="fas fa-chevron-right"></i></span> <a href="{{ url_for('category', category=recipe.category_name) }}" class="recipe-ancor-tag-info">{{ recipe.category_name|title }}</a>
                </div>
                {% if session and session["user"] == recipe.created_by %}
                <div class="recipe-row-info-item">
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="recipe-ancor-tag-info"><span class="text-center">Edit <i class="far fa-edit"></i></span></a>
                </div>
                {% endif %}
            </div>
            <div class="recipe-top-items">
                <div class="card recipe-box-img">
                    <img class="savour-section-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
                    <img src="{{ recipe.image_url }}" class="recipe-img" alt="Recipe Image">
                </div>
                <div class="card recipe-top-description">
                    <h2 class="about-recipe-title">{{ recipe.recipe_name }}</h2>
                    <div class="recipe-created-by">By <a href="{{ url_for('users', username=recipe.created_by) }}">{{ recipe.created_by }}</a></div>
                    <div class="recipe-rating">
                        <div class="recipe-rating-star js-rating-star-div">
                            {{ display_star_ratings(recipe) }}
                        </div>

                        <div class="recipe-total-rating">
                            {% if recipe.ratings.status == true %}
                                {{ recipe.ratings.weighted_average }}
                            {% endif %}
                        </div>
                        <div class="recipe-rating-link"><a href="#rate-recipe">Rate</a></div>
                    </div>
                    <div class="recipe-information">
                        <div class="recipe-cook-time">
                            <i class="far fa-clock" aria-hidden="true"></i><span class="cook-time">&nbsp;{{ recipe.time }} Min</span>
                        </div>
                        <div class="recipe-serve">
                           <i class="fas fa-utensils" aria-hidden="true"></i><span class="recipe-serve-people">&nbsp;{{ recipe.serve }}</span>
                        </div>
                    </div>
                    <div class="recipe-description-content">
                       {{ recipe.description }}
                    </div>
                </div>
            </div>

            <div class="recipe-bottom-items">
                <div class="card recipe-ingredients">
                    <h3 class="recipe-method-title">Ingredients</h3>

                    {% for ingredient in recipe.ingredients %}
                        <p>{{ ingredient }}</p>
                    {% endfor %}

                </div>
                <div class="card recipe-methods">
                    <h3 class="recipe-method-title">Methods</h3>
                    {% for step in recipe.methods %}
                        <div class="recipe-method-title">Step {{ loop.index }}</div>
                        <div class="recipe-method-description">{{ step }}</div>
                    {% endfor %}

                    {% if recipe.tips %}
                        <div class="recipe-tips-title"><i class="far fa-lightbulb"></i>&nbsp;&nbsp;Tips</div>
                        <div class="recipe-tips">{{ recipe.tips }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>




    <div class="rating" id="rate-recipe">
        <h2>Rate this recipe</h2>
        <form class="rating-form" id="rating-form" method="POST" action="{{ url_for('recipe', recipe_id=recipe._id) }}">
            
            <div class="rating-stars">
                <div class="sr-only">What is your star rating out of 5?</div>
                
                <input type="radio" class="ratings d-none" id="stars-5" name="stars" value="5">
                <label class="star" for="stars-5"><span class="sr-only">5 stars out of 5</span></label>
                
                <input type="radio" class="ratings d-none" id="stars-4" name="stars" value="4">
                <label class="star" for="stars-4"><span class="sr-only">4 stars out of 5</span></label>
                
                <input type="radio" class="ratings d-none" id="stars-3" name="stars" value="3">
                <label class="star" for="stars-3"><span class="sr-only">3 stars out of 5</span></label>
                
                <input type="radio" class="ratings d-none" id="stars-2" name="stars" value="2">
                <label class="star" for="stars-2"><span class="sr-only">2 stars out of 5</span></label>
                
                <input type="radio" class="ratings d-none" id="stars-1" name="stars" value="1">
                <label class="star" for="stars-1"><span class="sr-only">1 star out of 5</span></label>

            </div>
        </form>
        <div class="rating-ajax-response"></div>
    </div>

{% endblock %}