{% extends "layout/base.html" %}
{% from "pages/macros.html" import display_recipes, subscribe_section %}

{% block content %}

    <!-- Recipes section -->
    <section class="recipes-section pt-search-section">
        <div class="container">
            <div class="recipes-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2 class="section-title">Recipes</h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>

            {% if session %}
            <div class="flex-container search-container">
                <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('search') }}">
                    <input class="form-control mr-sm-2 form-search" type="text" name="query" placeholder="Search Recipe" aria-label="Search Recipe" required>
                    <button class="btn btn--champagne-pink my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            {% endif %}
            
            <div class="recipes-section-row-recipes">
                {% for recipe in recipes %}
                    {{ display_recipes(recipe) }}
                {% else %}
                    <p>Recipes Not Found</p>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.Recipe section -->

    <!-- Subscribe section -->
        {{ subscribe_section() }}
    <!-- /.End Subscribe section -->
{% endblock %}