{% extends "layout/base.html" %}
{% from "pages/macros.html" import display_recipes, display_form_search_recipe, subscribe_section %}

{% block content %}

    <!-- Recipes section -->
    <section class="recipes-section pt-search-section">
        <div class="container">
            <div class="recipes-section-row-title">
                <div class="col"><hr class="section-hr-left"></div>
                <div class="col-auto">
                    <h2 class="section-title">Recipes</h2>
                </div>
                <div class="col"><hr class="section-hr-right"></div>
            </div>

            {{ display_form_search_recipe() }}
            
            <div class="recipes-section-row-recipes">
                {% if recipes %}
                        {% for recipe in recipes %}
                            {{ display_recipes(recipe) }}
                        {% endfor %}
            </div>
                    {% if total > 1 %}
                        {{ pagination.info }}
                    {% endif %}   
                    {{ pagination.links }}
                {% else %}
                    <p>Recipes Not Found</p>
                {% endif %}
        </div>
    </section>
    <!-- /.Recipe section -->

    <!-- Subscribe section -->
        {{ subscribe_section() }}
    <!-- /.End Subscribe section -->
{% endblock %}