{% extends "layout/base.html" %}

{% block content %}
    <!-- Terms and Conditions section -->  
    <section class="terms-section">
        <div class="container terms-container">
            <div class="terms-container-items">
                <h1 class="terms-title">Disclaimer: This Website is for educational purposes only</h1>
                <p>Although we collect some information in order for users to use our website we advise that you don't use your personal email and password when register.</p>
                <p>Note: For most recipes on our site, we do not own any copyright and those who have the copyright have been cited in the project file Readme.md</p>
            </div>
        </div>
    </section>
    <!-- /.Terms and Conditions section -->
{% endblock %}