/* -------------------------------- Custom form display  ---------------------------------- */
.login-container,
.register-container,
.create-recipes-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.form-login,
.form-register,
.form-recipe {
    width: 90%;
}

.steps-mb {
    margin-bottom: 0;
}

.ingredients-list,
.methods-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.ingredients-btn-container {
    display: flex;
    width: 100%;
    margin-bottom: 2.5rem;
}

.input-group-btn {
    margin-left: auto;
}

.input-group-remove-ingredients a,
.input-group-add-ingredients a {
    margin: .5rem
}

.btn-group-ingredients {
    color: #fff;
}

.btn-group-ingredients:hover {
    color: #fff;
}

.btn-group-ingredients i {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
    background: #c77;
}

.input-group-remove-steps a,
.input-group-add-steps a {
    margin: .5rem
}

.btn-remove-ingredients {
    display: none;
}

textarea {
    overflow-y: hidden;
}

.form-login .form-group,
.form-register .form-group,
.form-recipe .form-group {
    position: relative;
}

.form-login .form-control,
.form-register .form-control,
.form-recipe .form-control,
.form-recipe .custom-select {
    background-color: #f0efeb;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #000;
    padding: 10px 0 5px 0;
}

.form-login .form-control:focus,
.form-register .form-control:focus,
.form-recipe .form-control:focus,
.form-recipe .custom-select:focus {
    background-color: #f0efeb;
    box-shadow: none;
    border-color:#b38989;
}

.form-login .form-group label,
.form-register .form-group label,
.form-recipe .form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #000;
}

.form-login .form-group label span,
.form-register .form-group label span,
.form-recipe .form-group label span {
    display: inline-block;
}

.form-login .form-group .form-control:focus + label span,
.form-login .form-group input:valid + label span,
.form-register .form-group .form-control:focus + label span,
.form-register .form-group input:valid + label span,
.form-recipe .form-group .form-control:focus + label span, 
.form-recipe .form-group .custom-select:focus + label span, 
.form-recipe .form-group input:valid + label span, 
.form-recipe .form-group select:valid + label span, 
.form-recipe .form-group textarea:valid + label span {
    transform: translateY(-25px);
    font-size: 12px;
    color: #b38989;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}

@media only screen and (min-width: 992px) {
    .form-login,
    .form-register,
    .form-recipe {
        width: 70%;
    }
}
/* -------------------------------- End of Custom form display  ---------------------------------- */


/* -------------------------------- For jQuery validation error classes -------------------------- */
.has-error
{
    border-bottom: 2px solid red !important;
}

span.error{
    font-style: italic;
    color: #e70101;
}
/* -------------- End of jQuery validation error classes -------------- */
