<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Declare the encoding of document -->
    <meta charset="UTF-8">

    <!-- Set up support for older IE browsers -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Set the viewport to make website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Define keywords for search engines: -->
    <meta name="keywords" content="savour, food, recipe, taste, kitchen, tools, appetizer, breakfast, snack, lunch, soup, main, salad, drink, desert, dinner">

    <!-- Define a description of your web page -->
    <meta name="description" content="Now you're cooking with savour. Here you have access to the best recipes and cooking techniques">
    
    <!-- Define the author of a page: -->
    <meta name="author" content="">

     <!-- Bootstrap CSS 4.6.0 - https://getbootstrap.com/docs/4.6/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mr+Dafoe&display=swap" rel="stylesheet"> 

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% if page_set and page_set.type == "recipe" %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}" type="text/css">
    {% elif page_set and page_set.type == "form" %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css">
    {% endif %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="115x101" href="{{ url_for('static', filename='img/favicon/savour-115x101.ico') }}">
    <link rel="icon" type="image/ico" sizes="64x56" href="{{ url_for('static', filename='img/favicon/savour-64x56.ico') }}">
    <link rel="icon" type="image/ico" sizes="48x42" href="{{ url_for('static', filename='img/favicon/savour-48x42.ico') }}">
    <link rel="icon" type="image/ico" sizes="32x28" href="{{ url_for('static', filename='img/favicon/savour-32x28.ico') }}">

    <title>Savour{% if page_set %} - {{ page_set.title }} {% endif %}</title>
</head>
<body>
    <header>
        <!-- Credit code Navbar: https://getbootstrap.com/docs/4.6/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{{ url_for('home') }}" aria-label="Savour Logo">
                <img class="logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
                <span class="sr-only">Savour</span> 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}" aria-label="Home Page">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Recipes Page">
                            Recipes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in nav_categories %}
                                <a class="dropdown-item" href="/category/{{category}}" aria-label="{{category|title}} Page">{{category|title}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Shop Page">Shop</a>
                    </li>
                </ul>
                {% if session["user"] %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}" aria-label="Profile Page">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}" aria-label="Logout">Logout</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}" aria-label="Login Page">Login</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0 w-auto" method="POST" action="{{ url_for('search') }}">
                    <input class="form-control mr-sm-2 form-search" type="text" name="query" placeholder="Search Recipe" aria-label="Search">
                    <button class="btn btn--champagne-pink my-2 my-sm-0" type="submit">Search</button>
                </form>
                {% endif %}
            </div>
        </nav>
        <!-- /.End Credit code -->
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <header>
                        <div class="alert {{ category }} border text-center js-flash-message" role="alert">
                            {{ message }}
                        </div>
                    </header>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </main>

    <!-- Footer section -->  
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-social-links">
                <div class="footer-social-links-item">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Facebook">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="footer-social-links-item">
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Twitter">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="footer-social-links-item">
                    <a href="https://www.pinterest.ie/" target="_blank" rel="noopener noreferrer" aria-label="Our Pinterest">
                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="footer-social-links-item">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Instagram">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="footer-social-links-item">
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Youtube">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="footer-support-links">
                <div class="footer-support-links-item">
                    <a class="footer-brand" href="{{ url_for('home') }}" aria-label="Savour Logo">
                        <img class="footer-logo" src="{{ url_for('static', filename='img/logo-savour-100x113.png') }}" alt="Logo">
                    </a>
                </div>
                <div class="footer-support-links-item">
                    <a href="#" aria-label="Contact Page">
                        Contact Us
                    </a>
                    <a href="#" aria-label="Contact Page">
                        Shop
                    </a>
                </div>
                <div class="footer-support-links-item">
                    <a href="#" aria-label="Contact Page">
                        Terms
                    </a>
                </div>
            </div>
            
            <hr class="footer-hr">

            <div class="footer-copyright">
                <div class="footer-copyright-content">
                    <div class="footer-copyright-item">&copy; Savour 2021</div>
                </div>              
            </div>
        </div>
    </footer> 
    <!-- /.Footer section -->

    <!-- Modal for Add Category-->
    <!-- Credit code https://getbootstrap.com/docs/4.6/components/modal/ -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="editModalLabel"></h5>
                </div>
                <form id='edit-form' action="{{ url_for('add_categories') }}" method="POST" autocomplete="off">
                    <input type="text" class="form-control" id="category-id" name="category-id" form="edit-form" value="" required readonly hidden>
                    <input type="text" class="form-control" id="category-type" name="category-type" form="edit-form" value="" required readonly hidden>
                    <div class="form-row edit-modal-form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group edit-modal-form-group">
                                <input type="text" class="form-control" id="category-name" name="category-name" form="edit-form" value="" required>
                                <label for="category-name"><span>Category Name</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn--slate-grey" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn--champagne-pink">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.Modal for Add Category -->

    <!-- Modal for Delete items-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this <span class="modal-title-item"></span>?</h5>
                    <p class="modal-paragraph"><i class="fas fa-exclamation-triangle fa-3x"></i>Warning! Your action cannot be undone.</p>
                </div>
                <form id='delete-form' action="{{ url_for('delete') }}" method="POST">
                    <div class="modal-footer">
                        <input type="text" class="form-control" id="delete-item-id" name="delete-item-id" form="delete-form" value="" required readonly hidden>
                        <input type="text" class="form-control" id="delete-item" name="delete-item" form="delete-form" value="" required readonly hidden>
                        <button type="button" class="btn btn--slate-grey" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn--candy-pink">Confirm Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Credit code https://getbootstrap.com/docs/4.6/components/modal/ -->
    <!-- /.Modal for Delete items -->
    
    <!-- jQuery and Bootstrap JS - https://getbootstrap.com/docs/4.6/getting-started/introduction/ -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Main JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% if page_set and page_set.type == "recipe" %}
        <script src="{{ url_for('static', filename='js/recipe.js') }}"></script>
    {% endif %}

    {% if page_set and (page_set.title == "Login" or page_set.title == "Register") %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/jquery_validate_forms.js') }}"></script>
    {% endif %}

    {% if page_set and (page_set.title == "Add Recipe" or page_set.title == "Edit Recipe") %}
        <script src="{{ url_for('static', filename='js/add_recipe.js') }}"></script>
    {% endif %}
</body>
</html>
