<!DOCTYPE html>
<html lang="en">
<head>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Declare the encoding of document -->
    <meta charset="UTF-8">

    <!-- Set up support for older IE browsers -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Set the viewport to make website look good on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Define keywords for search engines: -->
    <meta name="keywords" content="savour, food, recipe, taste, kitchen, tools, appetizer, breakfast, snack, lunch, soup, main, salad, drink, desert, dinner">

    <!-- Define a description of your web page -->
    <meta name="description" content="Now you're cooking with savour. Here you have access to the best recipes and cooking techniques">
    
    <!-- Define the author of a page: -->
    <meta name="author" content="">

    <title>Savour</title>
</head>
<body>
    <h1>Savour app</h1>
</body>
</html>